*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
app/build/
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
output.json
.idea/
*.jks
*.keystore
